name: Generate Docs

on:
  push:
    branches: ["main"]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Docs
        # GitHub's ubuntu-latest has Rust pre-installed.
        # --no-deps ensures we only build your project's docs, making it much faster.
        run: cargo doc --no-deps

      - name: Fix Index for GitHub Pages
        # This creates a redirect so mosheur15.github.io/void/ takes you to the right place.
        run: echo '<meta http-equiv="refresh" content="0;url=void/index.html">' > target/doc/index.html

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # This tells GitHub to take the docs folder we just made
          path: target/doc

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

